email-validator
psycopg2
python-multipart
fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
pydantic-settings
alembic
uuid
# connect to google sheet
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
oauth2client